.photo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.phones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.locations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
  margin: auto;
  margin-top: 100px;
  background-color: rgb(185, 118, 118);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img {
  border-radius: 50%;
}
